.contact-container {
  width: 100vw;
  min-height: 30vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830025.jpg?w=1060&t=st=1685712162~exp=1685712762~hmac=73a5030cc3d72760874812d6353f401d7368be470c97834c1c4c28fbc31f7fbc");
}

.contact-container > iframe {
  border: 1px solid grey;
}

.contact-container > h4 {
  margin-bottom: 18px;
  font-family: lucida sans;
  color: blueviolet;
  font-style: italic;
}

.send-button {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  width: 90px;
}

.forms-container {
  font-family: sans-serif;
}
