.filter-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.input {
  outline: none;
  padding-left: 7px;
  font-family: cursive;
  color: rgb(107, 104, 104);
  border: 1px solid rgb(87, 86, 87);
  background-color: transparent;
  width: 100%;
  border-radius: 5px;
  height: 30px;
  font-size: 12px;
}

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 180px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(108, 102, 102);
}

.category-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.category-container > h6 {
  font-family: cursive;
  color: rgb(75, 31, 171);
  font-weight: 800;
}

.category-button {
  border: none;
  background-color: transparent;
  font-family: cochin;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 5px;
  color: rgb(139, 138, 138);
}

.category-button:hover {
  border: 1px solid rgb(242, 179, 19);
  color: rgb(154, 66, 171);
}

.company {
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 15px;
  outline: none;
  width: 180px;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 35px;
  color: rgb(87, 86, 87);
}

.company-container > h6 {
  font-family: cursive;
  color: rgb(75, 31, 171);
  margin-top: 10px;
  font-weight: 800;
}

.price-range-container {
  margin-top: 15px;
  border-top: 1px solid rgb(108, 102, 102);
  width: 180px;
}

.price-range-container > h6 {
  font-family: cursive;
  color: rgb(75, 31, 171);
  margin-top: 12px;
  font-weight: 800;
}

.clear-filter-button-container {
  width: 180px;
}

.clear-filter-button {
  border: none;
  padding: 9px;
  color: white;
  font-family: cursive;
  border-radius: 5px;
  background-color: orangered;
  margin-top: 10px;
  font-size: 13px;
}
