.header {
  min-height: 10vh;
  min-width: 100vw;
  background-color: rgb(177, 255, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 60px;
  width: 130px;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 10vh;
  }
}
