.header {
  min-height: 10vh;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: sticky;
  top: 0;
  font-family: sans-serif;
  padding: 10px;
}

.logo {
  height: 60px;
  width: 130px;
  border-radius: 5px;
}
