.header {
  min-height: 10vh;
  min-width: 100vw;
  background-color: rgb(17, 17, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 60px;
  width: 130px;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .logo {
    height: 80px;
    width: 80px;
    border-radius: 50px;
  }
}
