.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 30vh;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 40, 80);
  margin-top: 40px;
  position: relative;
  width: 95vw;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  position: relative;
  top: -60px;
  min-height: 15vh;
  width: 40vw;
}

.footer-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
  color: white;
  padding-top: 20px;
  padding-bottom: 60px;
  height: 150px;
}

.footer-about {
  width: 15%;
}

.footer-subscribe {
  width: 15%;
}

.footer-follow {
  width: 15%;
}

.footer-contact {
  width: 15%;
}

.social-icon {
  border: 2px solid white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-right: 10px;
}

.call {
  border: none;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact > p {
  margin-top: 8px;
}

.terms-conditions-container {
  width: 80vw;
  margin-top: 10px;
}

.terms-conditions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: cursive;
  font-size: 8px;
  border-top: 1px solid gray;
  padding-top: 15px;
}

.mobile-view-follow {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    padding: 20px;
    min-height: 10vh;
    margin-bottom: 20px;
  }

  .social-img-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .button {
    width: 120px;
    margin-top: 15px;
    font-size: 12px;
  }

  .footer-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 62vh;
    margin-top: 45px;
  }

  .footer-about {
    width: 80%;
    border: 1px solid rgb(223, 175, 53);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transform: translateY(-50);
    margin-top: 20px;
  }

  .footer-subscribe {
    width: 80%;
    border: 1px solid rgb(223, 175, 53);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 5px;
  }

  .footer-follow {
    width: 80%;
    border: 1px solid rgb(223, 175, 53);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 5px;
    display: none;
  }

  .footer-contact {
    width: 80%;
    border: 1px solid rgb(223, 175, 53);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 5px;
    display: none;
  }

  .footer-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-view-follow {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 76vw;
    margin-bottom: 30px;
  }

  .footer-follow-mobile {
    width: 100%;
    border: 1px solid rgb(223, 175, 53);
    padding: 20px;
    margin-bottom: 35px;
    border-radius: 5px;
    font-size: 5px;
    height: 120px;
    margin-right: 10px;
  }

  .footer-contact-mobile {
    width: 100%;
    border: 1px solid rgb(223, 175, 53);
    padding: 20px;
    margin-bottom: 35px;
    border-radius: 5px;
    font-size: 10px;
    height: 120px;
  }

  .terms-conditions {
    margin-top: 25px;
  }
}
