.products-main-container {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-left-container {
  width: 20vw;
  height: 70vh;

  padding: 20px;
}

.products-right-container {
  width: 60vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.products-right-container-header {
  width: 60vw;
  height: 10vh;
}

.products-right-container-body {
  width: 60vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .products-left-container {
    display: none;
  }

  .products-right-container-header {
    width: 90vw;
    background-color: blueviolet;
  }

  .products-right-container {
    padding-top: 20px;
    width: 100vw;
  }

  .products-right-container-body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
  }
}
