.products-main-container {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830025.jpg?w=1060&t=st=1685712162~exp=1685712762~hmac=73a5030cc3d72760874812d6353f401d7368be470c97834c1c4c28fbc31f7fbc");
}

.products-left-container {
  width: 20vw;
  height: 70vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px;
}

.products-right-container {
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.products-right-container-header {
  width: 70vw;
  height: 10vh;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgb(219, 217, 217);
}

.products-right-container-body {
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  overflow-y: scroll;
  margin-left: 50px;
  margin-top: 30px;
}

.products-right-container-body-list-view {
  width: 65vw;
  height: 70vh;
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  .products-left-container {
    display: none;
  }

  .products-right-container-header {
    width: 90vw;
    background-color: rgb(243, 240, 240);
    padding: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products-right-container {
    padding-top: 20px;
    width: 100vw;
  }

  .products-right-container-body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-left: 0px;
    padding-left: 0px;
  }

  .products-right-container-body-list-view {
    width: 80vw;
  }
}
